.room {
    max-width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    .video-container {
        position: relative;

        .row {
            @include breakpoint(sm) {
                width: 100vw;
                height: 100vh;
            }
        }

        video.streamVideo {
            width: 100%;
            background-color: rgb(51, 51, 51);

            @include breakpoint(sm) {
                width: 100vw;
                height: 100vh;
            }
        }

        video.ownVideo {
            position: absolute;
            bottom: 15px;
            right: 10px;
            width: 200px;
            box-shadow: 0px 0px 3px #a2a2a2;
            
            @include breakpoint(sm) {
                position: absolute;
                bottom: 15px;
                right: 10px;
                min-width: 115px;
                min-height: 180px;
                max-width: 150px;
                max-height: 225px;
            }
        }
    }
}